@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
  }
  
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }
  
  button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    background-color: #000;
  }
  
  .container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
  }
  
  .btn {
    padding: 18px 65px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #fff;
  }