// 1200px
@media(max-width:1200px) {

    // header
    .header {

        &__btn {
            margin: 0 auto;
        }
    }
}

// 920px
@media(max-width:920px) {


    // header
    .header {
        &__inner {
            justify-content: flex-end;
        }

        &__logo {
            margin-right: auto;
            order: -1;
        }

        &__btn {
            margin-top: 20px;
            margin-right: 0;
            margin-left: 150px;
        }

        &__menu {
            order: -1;
        }
    }
}

// 560px
@media(max-width:560px) {
    .header {
        &__btn {
            margin-left: auto;
        }
    }
}

// 440px
@media(max-width:440px) {
    // btn
    .btn {
        padding: 16px 48px;
        font-size: 18px;
    }

    // header
    .header {
        &__logo {
            img {
                width: 250px;
            }
        }

        &__btn {
            margin: 20px auto 0;
        }
    }
}